
#forms{
	position: relative;
	text-align: center;
	background-color: crimson;
text-transform: uppercase;
	font-style: italic;
	font-size: 40px;
}
#forms::before{
	content: '';
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: crimson;
	top: 15px;
	transform: rotate(45deg);
	left: 20%;
}
.container{
	width: 80%;
	margin: 0 auto;
}
#contactUs{
	/*background-image: url(../images/5.jpg);*/
	background-color: #f4f4f4f4;
	background-size: cover;
	background-position: center;
	padding: 50px 0;
}
label{
	color: black;
	width: 25%;
	display: inline-block;
	box-sizing: border-box;
	font-size: 30px;
	margin-left: 150px;
	text-align: right;
}
.mb{
	margin-bottom: 20px;
}
.zip input{
	display: inline-block;
	width: 15%;
	box-sizing: border-box;
	border:1px solid black;
	padding: 10px;
}
.dob{
	margin-bottom: 20px;
}
.zip{
	margin-bottom: 20px;
}
.zip select{
	width: 72px;
	margin: 5px;
}
.dob select{
	width: 62px;
	margin-left: 20px;
}
input{
	display: inline-block;
	width: 40%;
	box-sizing: border-box;
	border:1px solid black;
	padding: 10px;
	margin-left: 20px;
}
select{
	width: 25%;
	margin-left: 20px;
	border: 1px solid black;
}
fieldset{
	padding: 30px;
}
.container h2{
	color: black;
	margin-left: 100px;
	font-size: 30px;
}
